<!DOCTYPE HTML>
<html>
<head th:replace="fragments/header :: header">
</head>
<body>
<div id="container">
	<div th:replace="fragments/bodyHeader :: bodyHeader"></div>
	<div class="slider-wrap">
		<div class="wrap">
			<div class="left">
				<div>IT사람들 여기 다모여라!</div>
				<div>디벨로퍼들의 모임 디모</div>
			</div>
			<div class="right"></div>
		</div>
	</div>
	<div class="main-wrap">
		<section class="project-wrap">
			<span class="subject">새로운 프로젝트/모임</span>
			<div class="project-content-wrap">
				<div class="project-content">
					<div class="top">
						<div class="badge">사이드 프로젝트</div>
					</div>
					<div class="middle">
						<div class="project-category">뷰티/패션</div>
						<div class="project-title">[서울] 머신러닝 기반 향수 검색, 큐레이팅</div>
						<div class="project-rank">조회수 1</div>
					</div>
					<div class="bottom">
						<span>모집완료 1/6</span> 
					</div>
				</div>
				<div class="project-content">
					<div class="top">
						<div class="badge">사이드 프로젝트</div>
					</div>
					<div class="middle">
						<div class="project-category">뷰티/패션</div>
						<div class="project-title">[서울] 머신러닝 기반 향수 검색, 큐레이팅</div>
						<div class="project-rank">조회수 1</div>
					</div>
					<div class="bottom">
						<span>모집완료 1/6</span> 
					</div>
				</div>
				<div class="project-content">
					<div class="top">
						<div class="badge">사이드 프로젝트</div>
					</div>
					<div class="middle">
						<div class="project-category">뷰티/패션</div>
						<div class="project-title">[서울] 머신러닝 기반 향수 검색, 큐레이팅</div>
						<div class="project-rank">조회수 1</div>
					</div>
					<div class="bottom">
						<span>모집완료 1/6</span> 
					</div>
				</div>
				<div class="project-content">
					<div class="top">
						<div class="badge">사이드 프로젝트</div>
					</div>
					<div class="middle">
						<div class="project-category">뷰티/패션</div>
						<div class="project-title">[서울] 머신러닝 기반 향수 검색, 큐레이팅</div>
						<div class="project-rank">조회수 1</div>
					</div>
					<div class="bottom">
						<span>모집완료 1/6</span> 
					</div>
				</div>
			</div>
		</section>
	</div>
</div>
</body>
</html>